body {
  font-family: "Roboto", sans-serif;
  background: #000;
  color: #fff;
  overflow: hidden;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
}

#navbar {
  border-right: 3px solid #e1702a;
  height: 100vh;
  position: fixed;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}
#navbar img {
  width: 200px;
  height: 100px;
}
#navbar ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
#navbar ul li {
  padding: 10px 0px;
}
#navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
#navbar ul li:hover a, #navbar ul li.active a {
  color: #e1702a;
}

#pagecontent {
  width: 80%;
  margin-left: 20%;
}
#pagecontent .fullpage {
  height: 100vh;
}
#pagecontent #home, #pagecontent #about, #pagecontent #service, #pagecontent #contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#pagecontent #home {
  background: url("https://dummyimage.com/900x900.png");
  background-size: cover;
  background-position: center;
}
#pagecontent #home img {
  width: 300px;
  height: 150px;
}
#pagecontent #home h1 {
  font-size: 65px;
  margin: 0;
}
#pagecontent #home h2 {
  margin: 0;
  font-size: 46px;
  letter-spacing: 16px;
  margin-left: 16px;
  color: #e1702a;
}
#pagecontent #about {
  background: url("https://dummyimage.com/900x900.png");
  background-size: cover;
  background-position: center;
  justify-content: space-evenly;
  padding: 10px 100px;
  text-align: center;
}
#pagecontent #about .logo {
  width: 200px;
  height: 100px;
}
#pagecontent #about p {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0;
}
#pagecontent #about ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#pagecontent #about ul li img {
  width: 100%;
  border-radius: 50%;
}
#pagecontent #about ul li h3, #pagecontent #about ul li h4 {
  margin: 1px;
}
#pagecontent #about ul li h3 {
  font-size: 35px;
}
#pagecontent #about ul li h4 {
  font-size: 25px;
  color: #e1702a;
}
#pagecontent #service {
  background: url("https://dummyimage.com/900x900.png");
  background-size: cover;
  background-position: center;
  justify-content: space-evenly;
  align-items: flex-end;
}
#pagecontent #service .big-service {
  display: flex;
  align-items: center;
  margin-right: -100px;
}
#pagecontent #service .big-service .image {
  -moz-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  -o-transform: skew(-30deg, 0deg);
  -ms-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
  overflow: hidden;
}
#pagecontent #service .big-service .content {
  display: flex;
  align-items: center;
  margin-right: -120px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 60px;
  width: 500px;
  height: 160px;
  background-color: #fff;
  -moz-transform: skew(30deg, 0deg);
  -webkit-transform: skew(30deg, 0deg);
  -o-transform: skew(30deg, 0deg);
  -ms-transform: skew(30deg, 0deg);
  transform: skew(30deg, 0deg);
  position: relative;
}
#pagecontent #service .big-service .content .text {
  -moz-transform: skew(-30deg, 0deg);
  -webkit-transform: skew(-30deg, 0deg);
  -o-transform: skew(-30deg, 0deg);
  -ms-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
  padding: 0px 50px;
  text-align: center;
}
#pagecontent #service .big-service .content .text h3 {
  color: #e1702a;
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}
#pagecontent #service .big-service .content .text p {
  margin: 2px 0px 0px;
  color: #000;
  font-weight: 700;
}
#pagecontent #service .big-service .content button {
  -moz-transform: rotate(90deg) translate(-12%, 0px);
  -webkit-transform: rotate(90deg) translate(-12%, 0px);
  -o-transform: rotate(90deg) translate(-12%, 0px);
  -ms-transform: rotate(90deg) translate(-12%, 0px);
  transform: rotate(90deg) translate(-12%, 0px);
  position: absolute;
  right: 0;
  left: -90px;
  top: 50%;
  width: 160px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 0px;
  background: #e1702a;
}
#pagecontent #service .big-service .content button a {
  color: #000;
  transform: skew(-30deg, 0deg);
  cursor: pointer;
  text-decoration: none;
}
#pagecontent #contact {
  background: url("https://dummyimage.com/900x900.png");
  background-size: cover;
  background-position: center;
  justify-content: space-evenly;
  position: relative;
}
#pagecontent #contact .section-title {
  font-size: 55px;
  text-transform: capitalize;
}
#pagecontent #contact .section-title span {
  color: #e1702a;
}
#pagecontent #contact .multinput input {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 22px;
  padding: 8px 2px;
  text-align: center;
  color: #fff;
}
#pagecontent #contact .multinput input:nth-of-type(2) {
  margin-left: 6px;
  margin-right: 6px;
}
#pagecontent #contact .multinput input::placeholder {
  color: #fff;
}
#pagecontent #contact textarea {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 22px;
  display: block;
  margin-top: 15px;
  width: 100%;
  padding: 8px 10px;
  resize: none;
  color: #fff;
}
#pagecontent #contact textarea::placeholder {
  color: #fff;
}
#pagecontent #contact button {
  width: 100%;
  margin-top: 15px;
  padding: 10px 0px;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  background: #e1702a;
  border: 0;
  border-radius: 10px;
}
#pagecontent #contact .info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  right: -235px;
  transition: all 1s ease-in-out;
}
#pagecontent #contact .info .title, #pagecontent #contact .info p {
  margin: 0;
}
#pagecontent #contact .info .content {
  background: #000;
  border-radius: 10px;
  padding: 15px 50px 15px 15px;
}
#pagecontent #contact .info p {
  margin-bottom: 10px;
  color: #e1702a;
  font-size: 18px;
  font-weight: 700;
  width: 170px;
}
#pagecontent #contact .info p:last-child {
  margin-bottom: 0px;
}
#pagecontent #contact .info:hover {
  right: -24px;
}

/*# sourceMappingURL=style.css.map */
